@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #FFF5F5;
}

body._lock {
    overflow: hidden;
}



.container {
    width: 1224px;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 700px;
    }
    @media (max-width: 575px) {
        width: 100%;
    }
}

@import 'base/variables';
@import 'base/titles';

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/btns';
@import 'blocks/statistics';

