.promo {
    padding: 100px 0px 100px;
    height: 100%;
    z-index: 5;
    background: url('../img/promo_man.png') no-repeat 100%/cover;
    background-size: 740px;
    .promo__wrapper {
        padding: 50px 0 0;
        display: flex;
        justify-content: space-between;
    }
    .section__text {
        padding-top: 25px;
    }
    .btns__block {
        margin-top: 35px;
        width: 210px;
        display: block;
        cursor: pointer;
        @media (max-width: 575px) {
            margin: 0 auto;
            padding-top: 30px;
        }
        .video__btn {
            display: flex;
            justify-content: space-between;
            .video__btn-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;
                width: 70px;
                background-color: #FAE1E7;
                border-radius: 100%;
            }
            .video__btn-text {
                font-family: Poppins;
                font-weight: 500;
                font-size: 18px;
                line-height: 160%;
                color: $text-color-1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            @media (max-width: 575px) {
                flex-direction: column;
                .video__btn-icon {
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
            }
        }
    }
    @media (max-width: 991px) {
        padding: 20px 0px 20px;
        z-index: 5;
        background: url('../img/promo_man.png') no-repeat 200%/cover;
        background-size: 710px;
    }
    @media (max-width: 767px) {
        background: url('../img/promo_man.png') no-repeat 340%/cover;
        background-size: 645px;
    }
    @media (max-width: 575px) {
        padding: 20px 0px 20px;
        .promo__wrapper {
            padding-top: 20px;
        }
        .promo__text {
            margin: 0 auto;
        }
    }
}